<div class="emoji-mount">
  <button type="button" class="emoji " tabindex="-1" title="heart_eyes" data-loaded="1" style="background-image: url(&quot;/images/emoji/twitter/heart_eyes.png?v=5&quot;);"></button>
</div>
