<div class="emoji-mount">
  <button type="button" class="emoji " title="heart_eyes" style="background-image: url(&quot;/images/emoji/twitter/heart_eyes.png?v=5&quot;);"></button>
  <button type="button" class="emoji " title="smiley" style="background-image: url(&quot;/images/emoji/twitter/smiley.png?v=5&quot;);"></button>
  <button type="button" class="emoji " title="neutral_face" style="background-image: url(&quot;/images/emoji/twitter/neutral_face.png?v=5&quot;);"></button>
  <button type="button" class="emoji " title="worried" style="background-image: url(&quot;/images/emoji/twitter/worried.png?v=5&quot;);"></button>
  <button type="button" class="emoji " title="frowning_face" style="background-image: url(&quot;/images/emoji/twitter/frowning_face.png?v=5&quot;);"></button>
</div>
