.emoji-mount{
  button{
    display: inline-block;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0;
    background-size: 20px 20px;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 20px;
    border: 0;
    vertical-align: top;
    width: 20px;
    outline: none;
    padding: 3px;
    margin: 2px;
  }
}
